@import './../../styles/global';

.p-home {
  display: flex;
  flex-direction: column;

  &__feature {
    flex: 1;
    &-image { width: 100%; }
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;

    padding: 0 $s-gutter--xsmall;

    &-block {
      cursor: pointer;
      width: 50%;
      padding: $s-gutter--xsmall;
      transition: border-color $s-animation--time-fast $s-animation--ease-out;
      position: relative;

      &:hover &-image { border-color: $s-color--primary-hover; }

      &-image {
        display: block;
        width: 100%;
        border: $s-outline--medium solid $s-color--primary;
      }
    }
  }

  @include t-media-query($s-xsmall-up) {
    &__nav {
      width: 100%;
      margin: auto;

      &-block {
        width: 25%;
        padding: 0 $s-gutter--xsmall;
      }
    }
  }

  @include t-media-query($s-small-up) {
    &__nav {
      padding: 0 $s-gutter--small;
      width: 75%;

      &-block {
        padding: 0;
        + #{&} { margin-left: $s-gutter--small; }
      }
    }
  }

  @include t-media-query($s-medium-up) {
    &__nav {
      width: 50%;
    }
  }

  @include t-media-query($s-large-up) {
    &__nav {
      width: 40%;
    }
  }

  @include t-media-query($s-xlarge-up) {
    &__nav {
      width: 35%;
    }
  }
}
