/*
 *  Color Settings
 *    Provides common color settings for use throughout the styles.
 *
 *  Version:
 *    1.0.0 - 2018/05/03
 */

/*
 == Color Sets ==
*/
//Pastel Colors
$s-color--pastel-pink: #FCE9F1;
$s-color--pastel-green: #E9FCF4;
$s-color--pastel-orange: #FEECE8;
$s-color--pastel-blue: #E8FAFE;
$s-color--pastel-purple: #ECE8FE;

//Swatch Colors
$s-color--swatch-red: #FFB3BA;
$s-color--swatch-orange: #FFDFBA;
$s-color--swatch-yellow: #FFFFBA;
$s-color--swatch-green: #BAFFC9;
$s-color--swatch-blue: #BAE1FF;

/*
 == Color Definitions ==
*/

$s-color--background: white;

//Hyperlink Colors
$s-color--link: #FC78DE;
$s-color--link-hover: lighten($s-color--link, 10%);

//Navbar Colors
$s-color--navbar: rgba(0, 0, 0, 0.75);
$s-color--navbar__text: white;
$s-color--navbar__text-hover: #CCC;
$s-color--navbar__bar-hover: $s-color--pastel-blue;
$s-color--navbar__bar-active: $s-color--pastel-green;

//loader
$s-color--loader: $s-color--swatch-blue;

/*** Buttons and Inputs ***/
//Button Default
$s-color--btn-default__top: #FFF;
$s-color--btn-default__bottom: #FBFBFB;
$s-color--btn-default__border: 1px solid #DDD;
$s-color--btn-default__focus: $s-color--swatch-blue;

$s-color--btn-default-hover__top: $s-color--btn-default__bottom;
