/*
 *  Color Settings
 *    Provides settings for colors
 *
 *  Dependencies:
 *
 *  Version:
 *    1.1.0 - 2018/02/23
 */

//Fonts
$s-color--text: black;
$s-color--links: #FC78DE;
$s-color--links-hover: lighten($s-color--links, 20%);

//Backgrounds
$s-color--background-default: white;
$s-color--background-top: #2BF;
$s-color--background-bottom: #FCF;

//Borders
$s-border--default: 1px solid #DDD;
