/*
 *  Typography Settings
 *    Provides the type variables for use throughout the theme
 *
 *  Version:
 *    1.0.0 - 2018/02/23
 */

$s-font--stack-default: 'Nanum Gothic Coding', monospace;
$s-font--stack-headings: 'Bitter', serif;
$s-font--size--base: 16px;
