/*
 *  Z
 *    Provides Z-Index tracking, for use throughout the theme.
 *
 *  Version:
 *    1.0.0 - 2018/05/07
 */

$s-z--background: -1;
$s-z--navbar: 10;   //Navbar
$s-z--transition: 1;//The Z-Index of an element in transition
