@import './../../../../styles/global';

.c-programmer-section {
  overflow-x: hidden;

  &__boundary {
    padding: $s-gutter--xlarge $s-gutter--small;
    position: relative;
    text-align: center;
  }
}
