/*
 *  Body
 *    Styles and changes for the body HTML element.
 *
 *  Dependencies:
 *    styles/settings/typography.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/03
 */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: $s-font--stack-default;
  font-size: $s-font--size--base;
  overflow: hidden;//Really makes the transitions feel smoother
}
