/*
 *  Body
 *    Base Body Seettings
 *
 *  Dependencies:
 *    styles/settings/typography.scss - Used for fonts
 *
 *  Version:
 *    1.0.0 - 2018/02/23
 */
body {
  font-family: $s-font--stack-default;
  font-size: $s-font--size--base;
  min-height: 100%;
}
