/*
 *  DT, DL, DD
 *    Base Definition List Settings
 *
 *  Dependencies:
 *
 *  Version:
 *    1.0.0 - 2018/03/11
 */
dt {
  font-weight: bold;
}

dl {

}

dd {
  margin-left: 2em;
}

dt ~ dt,
dl ~ dt {
  margin-top: 1em;
}
