/*
 *  Inputs
 *    Provides initial styles for inputs and input related items
 *
 *  Version:
 *    1.0.0 - 2018/05/14
 */
input,textarea {
  background: none;
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  @include t-placeholder() {
    color: inherit;
  }
}
