@import './../../../styles/global';

$c-layout--menu-width: 275px;

.c-layout {
  height: 100%;

  //Set position relative and a z-index to allow the layout to draw over the
  //background
  position: relative;
  z-index: $s-z--layout;

  &__header,&__footer { width: 100%; }
  &__view { position: relative; }

  @include t-media-query($s-xsmall-up) {
    display: flex;
    flex-direction: column;

    &__view {
      position: relative;
      flex: 1;
      overflow: hidden;
    }

    &__header {
      position: absolute;
      top: 0;
      left: 0;
    }
  }


  //Entering transition
  &.is-not-ready { opacity: 0; }
}
