/*
 *  App
 *    App styles for the app container.
 *
 *  Version:
 *    1.1.0 - 2018/10/30
 */
@import '~@styles/global';

.c-app {
  overflow-x: hidden;//Temporary until I find time to find the overflowing element
  width: 100vw;
  min-height: 100vh;
}
