body {
  padding: 0;
  margin: 0;

  //background: linear-gradient(to bottom, $s-background--top 0%, $s-background--bottom 100%);
  background-image: url('./../assets/background/background.svg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  height: 100%;

  font-family: $s-font--family-default;
  font-size: $s-font--size-default;
  font-weight: $s-font--weight-default;

  color: $s-color--body;


  > div {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  //Transition blocker, basically a giant element that stops all interactions
  //during a transition, not the most user friendly, but stops glitches.
  &.is-route-changing {
    &,>div{ overflow: hidden; }

    &::after {
      content: "";
      display: block;
      position: fixed;
      z-index: 100;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
    }
  }
}
