p {

  //Style anchor tags within p tags
  a {
    color: $s-color--primary;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $s-color--primary-hover;
    }
  }
}
