/*
 *  Banner Image Section
 *    Section that adjusts the image to better suit a banner, rather than using
 *    the annoying image size.
 *
 *  Version:
 *    1.0.0 - 2018/10/30
 */
@import '~@styles/global';

.c-banner-section {
  &__image {
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
}
