/*
 *  About Page
 *    Styles for the About Page, a simple page outlining some info about me.
 *
 *  Dependencies:
 *
 *  Version:
 *    1.0.0 - 2018/06/06
 */
.p-about-page {
  &__promo {
    padding: 6em 0;
    background-size: 50%;

    &-video {
      background-size: cover;
      background-image: url('./../images/banners/homepage/palms.svg');
    }

    &-platforms {
      //background-image: url('./../images/patterns/game-show.svg');
      background: black;
    }

    &-programming {
      background-image: url('./../images/patterns/third-dimension-squiggle.svg');
    }


    &-admin {
      background-image: url('./../images/patterns/lemon-triangle.svg');
    }

    &-media {

    }
  }

  &__brand {
    display: block;
    > a {display: block;}

    &-image {
      width: 100%;
      max-width: 250px;
      max-height: 200px;
      display: block;
      margin: auto;
      padding: 2em;
    }
  }
}
