/*
 *  About Page
 *    Styles for the About Page, a simple page outlining some info about me.
 *
 *  Dependencies:
 *    styles/settings/responsive.scss
 *    styles/tools/_flex.scss
 *    styles/tools/_responsive.scss
 *
 *  Version:
 *    1.0.0 - 2018/06/06
 */
.p-about-page {
  background-image: url('./../images/patterns/game-show.svg');
  background-size: 150% auto;

  &__promo {
    padding: 6em 0;

    &-platforms {
    }
  }

  &__brands {
    @extend %t-flexbox;
    @include t-align-items(stretch);
    @include t-justify-content(space-between);
    @include t-flex-wrap(wrap);

    &-brand {
      width: 50%;
    }

    &-image {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-width: 5em;
      max-height: 5em;
      object-fit: contain;
      object-position: center;

      transition: all 0.2s $s-animation--ease-out;
    }

    &-link {
      padding: 1em;
      display: block;
      height: 100%;

      &:hover .p-about-page__brands-image {
        @include t-rotate(10deg);
      }
    }

    &-title { }
  }

  &__work-link,&__work-link-image {
    display: block;
  }

  /* Media Queries */
  @include t-media-query($s-xsmall-up) {
    &__brands {
      &-brand {
        width: 25%;
      }
    }
  }

  @include t-media-query($s-small-up) {
    &__brands {
      &-link {
        padding: 2em;
      }

      &-image {
        max-width: 7em;
        max-height: 6em;
      }
    }
  }
}
