/*
 *  Contact Page
 *    Contact Page specific styles and designs
 *
 *  Dependencies:
 *
 *  Version:
 *    1.0.0 - 2018/05/28
 */
.p-contact-page {
  background-color: #37085E;
  background-image: url('./../images/patterns/arcade.svg');
  background-size: 150% auto;

  &__message-element {
    resize: none;
  }

  &__floppy {
    width: 80%;
    display: block;
    margin: auto;
    max-width: 320px;
  }
}
