/*
 *  Home Page
 *    Styles that are homepage specific.
 *
 *  Dependencies:
 *
 *
 *  Version:
 *    1.0.0 - 2018/05/11
 */

.p-home-page {

  &__video-content {
    padding: 1em 4em;
    background: rgba(0, 0, 0, 0.75);
    color: white;
  }
}
