/*
 *  Input
 *    Contains styles for input and input elements.
 *
 *  Dependencies:
 *    styles/tools/_input.scss
 *
 *
 *  Version:
 *    1.0.0 - 2018/05/13
 */
@import '~@styles/global';

.o-input {
  @include t-input--style-dp();
  width: 100%;

  &__inner {
    //Textarea
    margin: 0;//For some reason textareas have a 1px margin
    max-width: 100%;
    min-width: 100%;
  }
}

.o-label {
  display: none;
  visibility: hidden;
}
