/*
 *  Footer
 *    Site Footer!
 *
 *  Dependencies:
 *    styles/settings/colors.scss
 *    styles/settings/typography.scss
 *    styles/tools/_box-shadow.scss
 *
 *  Version:
 *    1.1.0 - 2018/10/30
 */
@import '~@styles/global';

.c-footer {
  @extend %t-dp--shadow-3d;

  &__inner {
    padding-top: 8em;
    padding-bottom: 10em;
  }

  &__copyright {
    font-size: 1.2em;
    font-family: $s-font--stack-headings;
  }

  &__links {
    padding-bottom: 1em;
  }

  &__link {
    color: $s-color--footer__link;

    &:hover {
      color: $s-color--footer__link-hover;
    }

    + #{&} {
      display: inline-block;
      margin-left: 1em;
    }
  }
}
