/*
 *  App
 *    App styles for the app container.
 *
 *  Dependencies:
 *    styles/tools/flex.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/03
 */
.o-app {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
