/*
 *  Background
 *    Styles for the background of the site.
 *
 *  Dependencies:
 *    styles/settings/z.scss
 *    styles/tools/_absolute-centering.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/17
 */
.o-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $s-z--background;
  overflow: hidden;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
