/*
 *  Content Box
 *    Simple box to hold content, comes with great settings!
 *
 *  Dependencies:
 *    styles/settings/colors.scss
 *    styles/tools/_shadow.scss
 *
 *  Version:
 *    1.0.0 - 2018/06/19
 */
$o-content-box--padding: 1em;

.o-content-box {
  position: relative;

  &.is-box {
    @extend %t-dp--shadow;
    background: $s-color--background;
    padding: $o-content-box--padding;
  }
}
