/*
 *  Navbar
 *    Navigation bar at the top of the screen.
 *
 *  Dependencies:
 *    styles/settings/colors.scss
 *    styles/settings/typography.scss
 *    styles/tools/flex.scss
 *    styles/tool/list.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/03
 */
$o-navbar--link-thickness: 5px;

.o-navbar {
  @extend %t-flexbox;
  @include t-align-items(stretch);
  background: $s-color--navbar;
  color: white;


  &__section {
    border: 1px solid blue;

    &.is-stuck {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  //Logo
  &__logo-container {
    width: 100%;
    padding: 0.5em;
    text-align: center;
  }

  &__logo {
    width: 12em;
  }

  //Links
  &__link {
    display: none;
    @include t-align-items(center);
    color: $s-color--navbar__text;
    position: relative;
    padding: 1em;

    &:after {
      position: absolute;
      width: 100%;
      height: 0px;
      left: 0;
      bottom: 0px;
      @include t-translate-y(100%)
      transition: height 0.2s $s-animation--ease-out;

      content: " ";
    }

    &.is-active:after {
      background: $s-color--navbar__bar-hover;
      height: $o-navbar--link-thickness;
    }

    &:hover {
      color: $s-color--navbar__text-hover;

      &:after {
        background: $s-color--navbar__bar-hover;
        height: $o-navbar--link-thickness;
      }
    }
  }


  @include t-media-query($s-xsmall-up) {
    &__logo-container {
      text-align: left;
    }

    &__section {
      padding: 1em;
    }

    &__logo {
      width: 10em;
    }

    &__link {
      @include t-flexbox();
    }
  }

  @include t-media-query($s-small-up) {
    &__section {
      padding: 3em;
    }

    &__logo {
      width: 12em;
    }
  }
}
