/*
 *  Skill Box
 *    Little skill box.
 *
 *  Dependencies:
 *
 *  Version:
 *    1.0.0 - 2018/03/18
 */
.o-skill-box {
  width: 100%;
  padding: 2em 1em;
}

.o-skill-box__heading,
.o-skill-box__description {
  text-align: center;
}

.o-skill-box__container {
  @extend %t-flexbox;
  @include t-flex-wrap(wrap);
}

@include t-media-query($s-small-up) {
  .o-skill-box {
    width: 50%;
  }
}
