/*
 *  Video
 *    Video Object, with general fallbacks and smarter controls for better
 *    cross-browser compatibility.
 *
 *    Also allows for better and more styled controls.
 *
 *  Dependencies:
 *
 *  Version:
 *    1.0.0 - 2018/05/07
 */
.o-video {
  position: relative;

  &__video {

    &.is-full {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
  }

  &__image {
    position: absolute;

  }
}
