/*
 *  Video Title
 *    Video title.
 *
 *  Dependencies:
 *    styles/settings/responsive.scss
 *    styles/tools/_responsive.scss
 *    styles/tools/_mixin.absolute-centering.scss
 *
 *  Version:
 *    1.0.0 - 2018/03/18
 */
.o-video-title {
  width: 100%;
  position: relative;
  line-height: 0;
  display: block;
}

.o-video-title__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:  center;
}

.o-video-title__heading {
  color: white;
  z-index: 10;
  position: relative;
  margin: 0;
  padding: 2em 0.5em;
  font-size: 2em;
}

@include t-media-query($s-xsmall-up) {
  .o-video-title__video {
    position: relative;
  }

  .o-video-title__heading {
    @include t-absolute-center-y();
    left: 5%;
    padding: 0;
  }
}
