$s-animation--ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$s-animation--ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$s-animation--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

$s-animation--ease-in-out: $s-animation--ease-in-out-quart;
$s-animation--ease-in: $s-animation--ease-in-quart;
$s-animation--ease-out: $s-animation--ease-out-quart;

$s-animation--time-fast: 0.2s;
$s-animation--time-medium: 0.4s;
$s-animation--time-long: 0.8s;
$s-animation--time-very-long: 4s;
