$s-color--body: white;


//domsPlace Color Guide:
//Background: #000010
//Largest BG: #00001E
//Next Largest BG: #000329
//Smallest BG: #000730
$s-color--background-top: #00000D;
$s-color--background-bottom: #0A1143;
$s-color--background-footer: rgba(0,0,0,0.7);

$s-color--primary: #B52756;
$s-color--primary-hover: lighten($s-color--primary, 15%);

$s-color--disabled: #999;
$s-color--disabled-text: #333;
