/*
 *  Button
 *    Clicky Tappy Touchy Buttons!
 *
 *  Dependencies:
 *    styles/settings/animation.scss
 *    styles/settings/colors.scss
 *    styles/tools/_box-shadow.scss
 *
 *
 *  Version:
 *    1.0.1 - 2018/05/14
 */

@import '~@styles/global';

//Default Button (applies to all styles)
.o-btn {
  cursor: pointer;
  @include t-input--style-dp();

  &__inner {
    padding: ( $t-input--style-dp__padding / 2 ) $t-input--style-dp__padding;
  }

  &:hover {
    text-decoration: none;/* Override Standard Link Underline */
  }
}

//Button Group
.o-btn-group {
  .o-btn + .o-btn {
    margin-left: 1em;
  }
}

/*** Custom Button Styles ***/
@mixin o-basic-button-design($top, $bottom) {
  &::before,
  &:active &__inner {
    background: $bottom;
  }

  &__inner {
    background: $top;
  }
}
