/*
 *  Responsive Utilities
 *    Provides Common Responsive Class Utilities
 *
 *  Dependencies:
 *    styles/settings/responsive.scss
 *    styles/tools/_responsive.scss
 *
 *  Version:
 *    1.0.0 - 2018/06/05
 */

@each $breakpoint in $s-breakpoints {
  $name: nth($breakpoint, 1);
  $declaration: nth($breakpoint, 2);

  .u-responsive--#{$name} {
    display: none;
  }

  @include t-media-query($name) {
    .u-responsive--#{$name} {
      display: block;
    }
  }
}
