/*
 *  Text Align
 *    Basic Text Alignment, no importants but has high priority.
 *
 *  Version:
 *    1.0.0 - 2018/05/11
 */
.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-justify {
  text-align: justify;
}
