@import './../../../styles/global';

@keyframes c-header--time-tick {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1;}
}

.c-header {
  display: flex;
  align-items: center;
  padding: $s-gutter--small $s-gutter--xsmall;

  &__hamburger,
  &__time {
    flex-basis: (100% - 55%) / 2;
  }

  &__logo {
    width: 100%;
    flex-basis: 55%;

    img {
      display: block;
      max-width: 175px;
      margin: 0 auto;
    }
  }

  &__time {
    text-align: right;
    padding: $s-gutter--xsmall;
    &-colon { animation: 2s c-header--time-tick infinite step-end; }
  }

  &__nav { display: none; }


  @include t-media-query($s-xsmall-up) {
    padding: 0;
    flex-direction: column;
    background: $s-color--background-footer;

    &__nav {
      display: flex;
      flex-grow: 1;
    }

    &__hamburger,
    &__time {
      flex-basis: auto;
      display: none;
    }

    &__logo { display: none; }
  }
}
