@import './../../../styles/global';

.o-page-wrapper {
  margin: auto;

  &.is-size-small {
    max-width: $s-screen-small;
  }

  &.is-size-medium {
    max-width: $s-screen-medium;
  }

  &.is-size-large {
    max-width: $s-screen-xlarge;
  }
}
