/*
 *  List
 *    Set of tools for lists
 *
 *  Version:
 *    1.0.0 - 2018/05/05
 */
%t-list-blank {
  margin: 0;
  padding: 0;
}

%t-list-litem-blank {
  margin: 0;
  padding: 0;
  display: inline-block;
}
