@import './../../../../styles/global';

.c-webdev-section {
  margin-bottom: $s-gutter--large;

  &__content {
    padding: 0 $s-gutter--small;
  }


  &__title {
    text-align: center;
  }

  &__media {
    position: relative;
    overflow: hidden;
    padding-bottom: 72%;

    &-box {
      position: absolute;
      width: 50%;

      transform: translateY(0em) rotate(-25deg);
      background: white;
      cursor: pointer;
      transition: transform $s-animation--time-medium $s-animation--ease-out ;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) { left: (10% * $i) + 2.5%; top: 14% + ($i * 2%); }
      }

      &:hover {
        transform: translateY(-0.5em) rotate(-25deg);
      }

      &-inner {
        width: 100%;
        padding-bottom: (100%/4)*3;
        position: relative;
        height: 100%;
      }

      &-image {
        width: 100%;
      }
    }
  }

  @include t-media-query($s-small-up) {
    &__boundary {
      display: flex;
      align-items: center;
    }

    &__media {
      width: 50%;
      padding-bottom: 33%;
    }

    &__content {
      width: 50%;
      transform: translateY($s-gutter--medium);
      p { padding-left: $s-gutter--medium; }
    }

    &__title { text-align: left; }
  }
}
