@import './../../../../styles/global';

$c-tech-stack--spacing: 60%;
$c-tech-stack--rows: 5;
$c-tech-stack--columns: 5;
$c-tech-stack--rows-width: $c-tech-stack--spacing * ( $c-tech-stack--rows - 1 );
$c-tech-stack--half-rows-width: ($c-tech-stack--rows-width / 2) - $c-tech-stack--rows-width;

.c-tech-stack {
  //overflow: hidden;

  &__title {
    text-align: center;
  }

  &__platform {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;

    &-icon {
      width: 20%;

      &-inner {
        position: relative;
        padding-bottom: 100%;
      }

      &-image {
        padding: $s-gutter--xsmall;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
        object-position: center;
        transition: padding $s-animation--time-fast $s-animation--ease-out;
      }
    }
  }

  @include t-media-query($s-xsmall-up) {
    &__platform-icon {
      &-image { padding: $s-gutter--small; }
    }
  }

  @include t-media-query($s-medium-up) {
    &__platform-icon {
      transform: translateX($c-tech-stack--half-rows-width);

      @for $i from 1 through $c-tech-stack--rows {
        $x: $c-tech-stack--half-rows-width + ($c-tech-stack--spacing * $i);
        &:nth-child( n+#{$i * $c-tech-stack--columns + 1}) {
          transform: translateX($x);
        }
      }
    }
  }

  @include t-media-query($s-large-up) {
    &__platform{
      max-width: 700px;

      &-icon{
        &-image { padding: $s-gutter--medium; }
        //&:hover &-image { padding: $s-gutter--small; }
      }

    }
  }
}
