
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	border-radius: var(--radius-large);
	border: 1px solid var(--color-neumorph-light);
	background: var( --color-surface);
  box-shadow: var(--box-shadow-deep);
  max-width: var(--max-width-large);
  margin: auto auto 2rem auto;

  &__brand {
    
  }

  &__nav {
    display: none;
    align-items: center;
    gap: 0.75rem;
  }

  @media (min-width: 768px) {
    &__nav {
      display: flex;
    }
  }
}