@import './../../../styles/global';

.o-breadcrumb {
  margin: $s-gutter--medium 0 $s-gutter--large;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;


    &-item {
      display: inline-block;
      font-size: 0.8em;

      &-link, &::before {
        opacity: 0.9;
        transition: all $s-animation--time-fast $s-animation--ease-out;
      }

      &-link.is-active {
        color: $s-color--primary;
      }

      &:hover &-link {
        opacity: 1;
      }


      + #{&} {
        &::before {
          content: '/';
          margin: 0 $s-gutter--xsmall;
        }
      }
    }
  }

  @include t-media-query($s-xsmall-up) {
    &__list-item { font-size: 0.9em; }
  }
}
