@import './../../../../styles/global';

.c-blog-banner {
  &__boundary {
    text-align: center;
    padding: 0 $s-gutter--small;
    margin-bottom: $s-gutter--large     ;
  }

  @include t-media-query($s-xsmall-up) {
    &__boundary {
      display: flex;
      flex-flow: column;
      text-align: initial;
      padding: $s-gutter--medium $s-gutter--small;
    }

    //&__title { margin-bottom: 0; }

    &__text {
      align-self: flex-end;
      max-width: 500px;
    }
  }

  @include t-media-query($s-small-up) {
    &__boundary {
      margin-bottom: $s-gutter--xlarge;
    }

    &__text {

      p:first-child {
        transform: translateX(-5em);
      }
    }
  }
}
