/*
 *  Home Page
 *    Styles for the Home Page, a simple page outlining some info about me.
 *
 *  Dependencies:
 *    styles/settings/responsive.scss
 *    styles/tools/_responsive.scss
 *
 *  Version:
 *    1.1.0 - 2018/08/14
 */
@import '~@styles/global';

.p-home-page {
  &__banner {
    &-image {
      object-fit: cover;

      height: 80vh;
    }
  }

  &__banner,
  &__promo {
    position: relative;
  }

  &__promo {
    padding: 6em 0;
    background-size: 150% auto;

    &-video {
      background-image: url('~@assets/images/patterns/florida.svg');
    }
  }

  &__brands {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
    }

    &-brand {
      width: 50%;
    }

    &-image {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-width: 5em;
      max-height: 5em;
      object-fit: contain;
      object-position: center;

      transition: all 0.2s $s-animation--ease-out;
    }

    &-link {
      padding: 1em;
      display: block;
      height: 100%;

      &:hover .p-about-page__brands-image {
        @include t-rotate(10deg);
      }
    }

    &-title { }
  }

  &__work-link,&__work-link-image {
    display: block;
    width: 100%;
  }

  /* Media Queries */
  @include t-media-query($s-xsmall-up) {
    &__brands {
      &-brand {
        width: 25%;
      }
    }
  }

  @include t-media-query($s-small-up) {
    &__brands {
      &-link {
        padding: 2em;
      }

      &-image {
        max-width: 7em;
        max-height: 6em;
      }
    }
  }
}
