@import './../../../../styles/global';

.c-about-banner {
  &__boundary {
    position: relative;
    text-align: center;
  }

  &__pad {
    width: 100%;
    padding-bottom: 60%;
  }

  &__content {
    top: 0;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0 $s-gutter--small;
  }

  &__title,&__blurb {
  }

  @include t-media-query($s-small-up) {
    &__content { top: 50%; }
    &__pad { padding-bottom: 40%; }
  }
}
