@import '~@styles/global';

.c-banner-section {
  position: relative;

  &__sizer {
    &.for-desktop {display: none;}

    @include t-media-query($s-small-up) {
      &.for-mobile {display: none;}
      &.for-desktop {display: block;}
    }
  }
}
