.c-window-buttons {
  height: 100%;
  float: right;
  font-size: 0;
}

.c-window-btn {
  @include button95($w95Scale);
  width: 16px*$w95Scale;
  height: 14px*$w95Scale;
  font-size: 12px*$w95Scale;

  &.close {
    margin-left: 2px*$w95Scale;
    background-position-x: 0px*$w95Scale;
  }

  &.help {
    background-position-x: 36px*$w95Scale;
  }

  &.minimize {
    background-position-x: 24px*$w95Scale;
  }

  &.maximize {
    background-position-x: 12px*$w95Scale;
  }
}
