/*
 *  Article Grid Section
 *    Styles for the Article Grid Section, aligns sets of articles out in a nice
 *    grid with some additional styling depending on the count etc.
 *
 *  Version:
 *    1.0.0 - 2018/10/31
 */
@import '~@styles/global';

.c-article-grid {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__article {
    width: 100%;
  }

  @include t-media-query($s-xsmall-up) {
    &__article {
      width: 50%;
    }
  }

  @include t-media-query($s-small-up) {
    &__article {
      width: (100%/3);
    }
  }
}
