@import './../../../../styles/global';


.c-article-list {
  margin-bottom: $s-gutter--xlarge;

  &__boundary {}

  &__article {
    width: 100%;
    margin-bottom: 1.5em;

    &-inner {
      display: block;
      width: 100%;
      position: relative;
    }

    &-picture {
      width: 100%;
      max-width: 450px;
      &-image { width: 100%; }
    }

    &-title {
      position: absolute;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      left: 0;
      padding: 0 $s-gutter--xsmall;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  @include t-media-query($s-xsmall-up) {
    &__boundary {
      display: flex;
      flex-wrap: wrap;
    }

    &__article {
      $article: &;
      padding-bottom: $s-gutter--small;

      &-inner {
        display: flex;
        flex-direction: column;
      }

      &-title {
        transition: all $s-animation--time-fast $s-animation--ease-out;
      }

      &:hover {
        #{$article}-title { transform: translateX($s-gutter--xsmall); }
      }

      &:nth-child(even) {
        #{$article}-picture {
          align-self: flex-end;
        }

        #{$article}-title {
          left: auto;
          right: 0;
          //right: $c-article-list--article-image - $c-article-list--article-title;
        }

        &:hover {
          #{$article}-title { transform: translateX(-$s-gutter--xsmall); }
        }
      }
    }
  }


  @include t-media-query($s-small-up) {
    &__article {
      $article: &;
      width: 60%;
      padding-bottom: 0;
      margin-bottom: -$s-gutter--small;

      &:nth-child(even) {
        margin-left: auto;

        #{$article}-title {
          top: 0;
          bottom: auto;
        }
      }

      &:last-child { margin-bottom: 0; }
    }
  }

  @include t-media-query($s-medium-up) {
    &__article {
      margin-bottom: -$s-gutter--large
    }
  }

  @include t-media-query($s-large-up) {
    &__article {
      transform: translateX(-$s-gutter--large);
      margin-bottom: -$s-gutter--large;
      width: 75%;

      &-picture {
      }

      &-title {
      }

      &:nth-child(2n+2) {
        transform: translateX($s-gutter--large);
      }

    }
  }
}
