@import './../../../styles/global';

.c-footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: $s-gutter--small;
  background: $s-color--background-footer;

  &__copyright,
  &__navigation {
    font-family: $s-font--family-heading;
    width: 100%;
    font-size: 0.75em;
    margin-bottom: 1em;
    text-align: center;
  }

  &__navigation {
    &-link {
      display: inline-block;
      position: relative;

      + #{&} {
        margin-left: 1em;

        &::before {
          content: "|";
          display: inline-block;
          position: absolute;
          left: 0;
          transform: translateX(-0.5em) translateX(-50%);
        }
      }
    }
  }

  &__logo {
    display: none;
    align-items: center;
    height: 100%;
    width: auto;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    img { width: 120px; margin: auto; }
  }

  @include t-media-query($s-small-up) {
    &__copyright,
    &__navigation {
      width: auto;
      margin: 0;
    }

    &__logo {
      display: flex;
    }
  }

  @include t-media-query($s-medium-up) {
    &__copyright,
    &__navigation {
      font-size: 1em;
    }

    &__logo img { width: 150px; }
  }
}
