/*
 *  App
 *    Styles for the App itself
 *
 *  Dependencies:
 *
 *  Version:
 *    1.0.0 - 2018/02/23
 */
.c-app__wrapper {
  min-height: 100vh;
  width: 100%;
}
.c-app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
