/*
 *  Body Section
 *    Body Section.
 *
 *  Dependencies:
 *    styles/settings/colors.scss
 *    styles/tools/_shadow.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/13
 */
$c-body-section--padding: 1em;

.c-body-section {
  @extend %t-dp--shadow;
  background: $s-color--background;
  padding: $c-body-section--padding;
}
