/*
 *  Footer
 *    Site Footer!
 *
 *  Dependencies:
 *    styles/tools/flex.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/16
 */
$c-footer--shadow: 1.5em;
.c-footer {
  padding-top: 4em;
  padding-bottom: 6em;
  position: relative;
  overflow: hidden;
  background-image: url('./../images/patterns/schoolbell.svg');
  background-size: cover;
  @include t-box-shadow(0px, $c-footer--shadow, $c-footer--shadow, 0px, rgba(0, 0, 0, 0.25), true);

  &__inner {
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 1em 0;
  }

  &__copyright {
    font-size: 1.2em;
    font-family: $s-font--stack-headings;
  }

  &__links {
    padding-bottom: 1em;
  }

  &__link {

   + #{&} {
    display: inline-block;
    padding-left: 1em;
   }
  }

  &__part {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
  }
}
