/*
 *  Footer
 *    Site Footer!
 *
 *  Dependencies:
 *    styles/tools/flex.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/16
 */
$c-footer--shadow: 1em;
.c-footer {
  padding-top: 4em;
  padding-bottom: 6em;
  position: relative;
  overflow: hidden;
  background-color: #F3E4C6;
  background-image: url('./../images/grain.png');
  @include t-box-shadow(0px, -$c-footer--shadow, $c-footer--shadow, 0px, rgba(0, 0, 0, 0.5));

  &__inner {
    text-align: center;
    position: relative;
    z-index: 10;
  }

  &__copyright {

  }

  &__links {
    padding-bottom: 1em;
  }

  &__link {
   + #{&} {
    display: inline-block;
    padding-left: 1em;
   }
  }

  &__part {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
  }
}
