/*
 *  Image Section
 *    Styles for Image Sections, usually contains videos (hmmmm).
 *
 *  Dependencies:
 *
 *  Version:
 *    1.1.0 - 2018/08/14
 */
.c-image-section {

  &__image {
    display: block;
    width: 100%;
  }

  &.is-full {
    position: relative;
    
    .c-image-section__image {
      @include t-absolute-fill();
      object-fit: cover;
      object-position: bottom center;
    }
  }

  &__content {
    @include t-absolute-fill();

    &-inner {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }

  //Background Image
  &.is-background {
    position: relative;

    .c-image-section {
      &__image {
        @include t-absolute-fill();
        object-fit: cover;
        object-position: bottom center;
      }

      &__content {
        position: relative;

        &-inner {
          position: relative;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

}
