/*
 *  Page
 *    Styles for the base Page elements.
 *
 *  Dependencies:
 *    styles/settings/responsive.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/05
 */
.c-page {
  padding-bottom: 5em;

  &__boundary {
    max-width: $s-screen-boundary;
    margin: 0 auto;

    &.is-full {
      position: relative;
      height: 100%;
    }

    &.is-small {
      max-width: $s-screen-boundary / 2;
    }
  }
}
