/*
 *  About Page
 *    Styles for index page elements
 *
 *  Dependencies:
 *    styles/settings/responsive.scss
 *    styles/tools/_flex.scss
 *    styles/tools/_responsive.scss
 *
 *  Version:
 *    1.0.0 - 2018/03/11
 */

//Body Section Margin
.c-about-page__body-section {
  margin-bottom: 3em;
}

//About Section
.c-page--style-about__bio-section {
  margin-bottom: 5em;
}

.c-page--style-about {
}

.c-page--style-about__profile-container {
}

.c-window--style-about {
  max-width: 25em;
  margin: 0 auto;
  display: block;
  width: 90%;
}

.c-page--style-about__profile {
  width: 100%;
  max-width: 256px;
  margin: 0 auto;
}

.c-page--style-about__blurb {
  font-size: 1.25em;
}

.c-page--style-about__profile-container {
  text-align: center;
}

//Window adjustments for about section
.c-page--style-about__window {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.c-page--style-about__window-text {
  width: 100%;
  resize: none;
}

//Media queries
@include t-media-query($s-small-up) {
  .c-page--style-about__blurb {
  }

  .c-page--style-about__window-container {
    width: 50%;
  }
  .c-page--style-about__window {
    width: 50%;
  }
}
