/*
 *  Section Title Style
 *    Styles for title section
 *
 *  Dependencies:
 *
 *  Version:
 *    1.0.0 - 2018/04/06
 */
$c-section--style-title__title-z-index: 5;
.c-section--style-title {
  padding-top: 30vmin;
  padding-bottom: 20vmin;
  padding-left: 1em;
  position: relative;
}

.c-section--style-title__model-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-section--style-title__title {
  position: relative;
  z-index: $c-section--style-title__title-z-index;
}
