/*
 *  Section Style Poly
 *    Styles for poly section elements
 *
 *  Dependencies:
 *    styles/components/_section.scss
 *
 *  Version:
 *    1.0.0 - 2018/02/28
 */
.c-section--style-poly {
  height: 60vmin;
  position: relative;
  z-index: -1;
  overflow-y: visible;
}

.c-section--style-poly__canvas {
  width: 100%;
  height: 100%;
  height: 80vmin;
  top: 0;
  left: 0;
  position: absolute;
}
