/*
 *  Section Style Three
 *    Styles for Three JS section elements
 *
 *  Dependencies:
 *    styles/components/_section.scss
 *
 *  Version:
 *    1.0.0 - 2018/02/28
 */
.c-section--style-three {
  height: 60vmin;
  position: relative;
  z-index: 0;
  overflow-y: visible;
}

.c-section--style-three__canvas {
  width: 100%;
  height: 100%;
  height: 80vmin;
  top: 0;
  left: 0;
  position: absolute;
}
