/*
 *  Video Section
 *    Styles for Video Sections, usually contains videos.
 *
 *  Dependencies:
 *    styles/tools/_absolute-centering.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/03
 */
.c-video-section {
  position: relative;

  &__video {
    @include t-absolute-fill();
    object-fit: cover;
    object-position: center;
  }
}
