/*
 *  Split section
 *    Simple Section that is split into multiple columns
 *
 *  Version:
 *    1.0.0 - 2018/05/28
 */
@import '~@styles/global.scss';

$c-split-section__split--padding: 1em;

.c-split-section {
  display: flex;
  flex-wrap: wrap;

  &.is-stretched {
    align-items: stretch;
  }

  &.is-center {
    align-items: center;
  }

  &__split {
    width: 100%;

    &.is-padded {
      padding: $c-split-section__split--padding;
    }
  }

  @include t-media-query($s-small-up) {
    flex-wrap: nowrap;
  }
}
